h1 {
font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover {
  color: crimson;
}

.jumbotron {
background-color: aquamarine;
margin-top: 10px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-body {
  background-color: black;
  opacity: 0.7;
}

.card-text {
  color: darkgoldenrod;
}

.card-title {
  color: lightsalmon;
}

.gallery {
  color: orangered;
  text-align: center;
}

.gallery-text {
  font-size: 15px;
  text-align: center;
  color: grey;
}

.column {
  width: 33%;
  float: left;
}

.img1 {
  width: 450px;
  height: 250px;
  margin-left: 20px;
  text-align: center;
  border: 5px solid red;
}

.img1-txt {
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img2 {
  width: 500px;
  height: 250px;
  text-align: center;
  border: 5px dotted blue;
}

.img2-txt {
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img3 {
  width: 450px;
  height: 250px;
  margin-left:30px;
  margin-right: 20px;
  border: 5px solid red;
}

.img3-txt {
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}